# City Bike Data July 2017, 2018, & 2019

In [1]:
# Dependencies & Setup
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Files to Load
july2017 = "data/201707-citibike-tripdata.csv"
july2018 = "data/201807-citibike-tripdata.csv"
july2019 = "data/201907-citibike-tripdata.csv"

# Read July 2016, 2017 & 2018 Citi Bike Data Files & Store into Pandas DataFrames
july2017_df = pd.read_csv(july2017, encoding="ISO-8859-1")
july2018_df = pd.read_csv(july2018, encoding="ISO-8859-1")
july2019_df = pd.read_csv(july2019, encoding="ISO-8859-1")

In [3]:
# Combine All Three July DataFrames from 2016-2018 Into Single DataFrame
combined_july_df = july2017_df.append([july2018_df, july2019_df], ignore_index=True)
combined_july_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [4]:
# Rename Columns
combined_july_df = combined_july_df.rename(columns={"tripduration": "Trip Duration",
                                            "starttime": "Start Time",
                                            "stoptime": "Stop Time",
                                            "start station id": "Start Station ID",
                                            "start station name": "Start Station Name",
                                            "start station latitude": "Start Station Latitude",
                                            "start station longitude": "Start Station Longitude",
                                            "end station id": "End Station ID",
                                            "end station name": "End Station Name",
                                            "end station latitude": "End Station Latitude",
                                            "end station longitude": "End Station Longitude",
                                            "bikeid": "Bike ID",
                                            "usertype": "User Type",
                                            "birth year": "Birth Year",
                                            "gender": "Gender"
                                           })
combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [5]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
combined_july_df["Start Time"] = pd.to_datetime(combined_july_df["Start Time"])
combined_july_df["Stop Time"] = pd.to_datetime(combined_july_df["Stop Time"])
combined_july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293.0,Lafayette St & E 8 St,40.730207,-73.991026,3425.0,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,3397.0,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [6]:
combined_july_df.dtypes

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                  float64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                    float64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                        float64
Gender                              int64
dtype: object

In [7]:
# Save Combined DataFrames to CSV
combined_july_df.to_csv("data/3yr-july-citibike-tripdata.csv", index=False, header=True)